{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <script src="https://kit.fontawesome.com/9903d03c99.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href={% static "css/style.css"%} >

</head>
<body id='body' style=" background-image: url('{% static "image/bg1.jpg"%}')"; class=" bg-cover ">
    <div class=" mt-12 grid place-content-end mr-24 overflow-none ">

        {% if error_message %}
        <div class="flex justify-center text-red-600 text-xl text-bold underline underline-offset-2 ">
            <h2>{{ error_message }}</h2>
        </div>
        {%endif %}
        <br>

        <div class="flex flex-row  ">
            <a href="{% url 'login' %}"  id="login_btn" class="relative text-xl px-3 mx-1 text-lg hover:scale-110 hover:ring-2 duration-500 ">Login</a>
            <button id="register_btn" style="background-color: #f0abac; " class="text-xl grid place-content-start bg-violet-500 hover:scale-110 hover:ring-2 duration-500 text-white px-2 ml-2 ">Register </button>

        </div>
        
<!-- Register slide -->
    
        <div id="d_register" class=" grid place-content-end ">
            <form id="reg_form" style="background-color: #f0abac;" method="POST" autocomplete="off" class="flex flex-col space-y-10 justify-center px-20 py-12">
                {% csrf_token %}
                <input class="rounded-full p-1 px-6 " type="text" name="username" id="name" placeholder="Name ..." required>
                <input class="rounded-full p-1 px-6 " type="email" id="email" name="email" placeholder="Email ..." required>
                <input class="rounded-full p-1 px-6 " type="password" id="password" name="password1" placeholder="password ..." pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" > <!--required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"-->
                <input class="rounded-full p-1 px-6 " type="password" name="password2" placeholder="Re_enter ..." required>
                <button class="rounded-full p-1 px-6 mx-10 bg-zinc-100 hover:scale-110 duration-300" type="submit" value="submit" >Submit</button>
            </form>
            <div class="">
                {% load socialaccount %}
                <p> Do you have a account .</p>
                <div class="flex justify-center space-x-10 m-4 ">
                <a href="{% provider_login_url 'google' %}?next=/" class="fa-brands fa-google fa-lg hover:scale-110 duration-30 "></a>
            </div>
        </div>
    </div>

</body>

<!-- javascript for hide and show button in password -->
<script>
    const show_eye=document.getElementById('show_eye')
    const password=document.getElementById('pswd')
    
    show_eye.onclick=function(){
        if (password.type=="password"){
            password.type = "text";
        }
        else {
            password.type="password";
        }
    }

</script>
</html>